
/* Layout */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: #111;
    color: white;
}

header nav a{
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.banner{
    text-align:  center;
    padding: 60px;
    background: #2d89ef;
    color: white;
}

.banner .btn {
    background: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.produtos{
    display: felx;
    gap: 30px;
    padding: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background: white;
    padding: 15px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.card img{width: 100%}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 40px;
}

h1, h2 {
    text-align: center;
}

.login-form input,
.login-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.login-form button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
